.marco {
	border: 1px solid black;
	width: 700px;
	margin: 0 auto;
}

.perfil > img {
	border-radius: 50%;
	height: 150px;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.foto {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}

img {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 150px;
	height: 100px;
}

p {
	padding: 0 70px;
}

.perfil {
	text-align: center;
}

h2 {
	padding-left: 20px;
}

.descrp {
	width: 400px;
	height: 20px;
	background-color: gray;
	color: white;
	margin: 7px;
	padding: 10px;
	margin-left: 50px;
}

.first {
	width: 300px;
}

.second {
	width: 200px;
}